[user]
	name = BulkTornado
	email = 190936853+BulkTornado@users.noreply.github.com
[init]
	defaultBranch = main
[core]
	editor = vim
[alias]
	st = status
	co = checkout
[include]
	path = ~/.gitconfig-local
